saved_models/*.pth filter=lfs diff=lfs merge=lfs -text
saved_models/ELEM_AI_b2_base_trainer_PR7/*.pth filter=lfs diff=lfs merge=lfs -text
saved_models/block2_model/*.pth filter=lfs diff=lfs merge=lfs -text
saved_models/ELEM_AI_RESNET50_2019_04_14_15_09_31/*.pth filter=lfs diff=lfs merge=lfs -text
